<div class="box sidebox about">
    <div class="sidebox-title">About</div>
    <div class="sidebox-content">
        <p>{{@blog.description}}</p>

        <p>
            I help teams in building software better and build better software.
            I do everything with an Agile and Lean approach.
        </p>
        <p>
            I love the challenges of scalable and reliable software that customers love.
            I build full-stack software on cloud infrastructure.
            I focus on value delivery and serving customers in my approach to developing software.
        </p>
        <p>
            I am fascinated in how work gets done.
            I help teams continually improve to deliver more value faster.
            I support in adopting Scrum or Kanban and understanding the Agile principles.
        </p>
    </div>
</div>

<!--Change the links to your sites-->
<div class="sidebox box social clearfix">
    <ul>
        <!--<a href="/rss" target="_blank" class="social-item rss">-->
            <!--<li><i class="fa fa-rss"></i></li>-->
        <!--</a>-->

        <a href="http://twitter.com/snorberhuis" target="_blank" class="social-item tw">
            <li><i class="fa fa-twitter"></i></li>
        </a>

        <a href="http://linkedin.com/in/snorberhuis" target="_blank" class="social-item linkedin">
            <li><i class="fa fa-linkedin"></i></li>
        </a>

        <a href="http://github.com/snorberhuis" target="_blank" class="social-item github">
            <li><i class="fa fa-github"></i></li>
        </a>
    </ul>

</div>
